doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if name
      nav
        h3 #{name}
        form(action="/users/logout", method="post").logoutForm
          input(type="submit", value="logout") 
    block content
    script(src="/javascript/main.js") 
