doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if name
      nav
        .rmaActions 

        .userActions 
          h3 #{name}
          if permissions > 4
            a(href="/users/create") create user 
          form(action="/users/logout", method="post").logoutForm
            input(type="submit", value="logout") 
    block content
    script(src="/javascript/main.js") 
