doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if name
      nav
        .rmaActions 
          a(href="/panel/") Obsługa zleceń
          a(href="/panel/create") Nowe zlecenie
        .userActions 
          h3 #{name}
          if permissions > 4
            a(href="/users/create") create user 
          form(action="/users/logout", method="post").logoutForm
            input(type="submit", value="logout") 
    block content
    script(src="/javascript/main.js") 
