extends layout

block content
    .wrap    
        #modal
            .rmaView
                .nav
                    .closeDiv(onclick="()=>{closeModal()}")
                .data
                    h3
                    .tile
                        p producent: 
                        p 
                    .tile
                        p model: 
                        p 
                    .tile
                        p sn: 
                        p 
                    .tile
                        p sprzedaz: 
                        p 
                    .tile
                        p fv: 
                        p 
                    .tile
                        p opis: 
                        p        
        .panel 
            form(action="", method="post")#search
                label(for="rma") RMA:
                input#rma(type="text", name="rma", autocomplete="off")
                input(type="submit", value="search") 
            #container 
