extends layout 

block content
    .container 
        form(action="/panel/create", method="post").createRMA
            .deviceInfo
                div
                    label(for="producent") Producent:
                    input#producent(type="text", name="producent")
                div
                    label(for="model") Model:
                    input#model(type="text", name="model")
                div
                    label(for="SN") SN:
                    input#SN(type="text", name="SN")
            .sprzedaz
                div
                    label(for="sprzedaz") Sprzedaż (rrrr-mm-dd):
                    input#sprzedaz(type="date", name="sprzedaz")
                div
                    label(for="fv") nr. faktury:
                    input#fv(type="text", name="fv")
            .description 
                .types
                    select#type(name="type")
                        each val in types
                            each typ, key in val
                                option(value=key) #{typ}
                    select#prio(name="prio") 
                div
                    label(for="opis") Opis zlecenia:
                    textarea#opis(name="opis", cols="30", rows="10") 
            div.submitDiv
                input(type="submit", value="Create")
            