extends layout

block content
    .wrap    
        #modal
            .rmaView
                .nav
                    #closeDiv
                .data
                    h3#rma 
                    .tile
                        p producent: 
                        p#producent  
                    .tile
                        p model: 
                        p#model 
                    .tile
                        p sn: 
                        p#sn  
                    .tile
                        p sprzedaz: 
                        p#sprzedaz 
                    .tile
                        p fv: 
                        p#fv 
                    .tile
                        p opis: 
                        p#opis    
        .panel 
            form(action="", method="post")#search
                label(for="rma") RMA:
                input#rma(type="text", name="rma", autocomplete="off")
                input(type="submit", value="search") 
            #container 
